html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, font, img, q, ol, ul, li, form {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'PTSans';
    src:url('fonts/web/ptsans.woff') format('woff'),
    url('fonts/web/ptsans.woff2') format('woff2');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'PTSans-Bold';
    src:url('fonts/web/ptsansbold.woff') format('woff'),
    url('fonts/web/ptsansbold.woff2') format('woff2');
}

.page-header {
    margin: 0 auto;
    max-width: 1200px;
}

.main-menu__toggle {
    display: none;
}

.main-menu__items {
    display: flex;
    justify-content: space-around;
    min-height: 56px;
}

.main-menu__item {
    display: flex;
    justify-content: center;
    min-width: 150px;
}

.main-menu__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'PTSans-Bold';
    color: black;
    font-size: 14px;
}

.main-menu__item_logo {
    position: relative;
}

.main-menu__item_logo img {
    position: absolute;
    top: 0;
}

.main-menu__item_logo-tablet {
    display: none;
}

.main-menu__item_logo-mobile {
    display: none;
}
.causes__bg {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 568px;
    background-image: url("img/intro.jpg");
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}



