@media (max-width: 768px){

    .page-wrapper {
        max-width: 320px;
        transition: max-width.3s ease;
    }

    .main-menu__items {
        flex-direction: column;
    }

    .main-menu__item {
        background-color: #81b3d2;
        border-bottom: #678fa8 1px solid;
        border-top: #9ac2db 1px solid;
    }

    .main-menu__item a {
        color: white;
    }

    .main-menu__item_logo{
        order: 1;
        background-color: white;
        border: none;
    }

    .causes__bg {
        padding-top: 90px;
        height: 298px;
        background-image: url("images/intro-photo_desktop.jpg");
        background-size: cover;
    }

    .causes__bg img {
        width: auto;
        height: 212px;
    }
    h1 {
        padding: 0 10px;
    }
    .causes__intro {
        position: relative;
        margin-bottom: 10px;
    }

    .causes__intro::after {
        content: url("images/Слой_intro.png");
        position: absolute;
        top:50px;
        left: 0;
    }

    .causes__items {
        display: flex;
        flex-flow: row wrap;
        align-content:stretch;
    }
    .causes__item_photo {
        height: 256px;
    }
    .causes__item_fill {
        height: 192px;
    }

    .causes__item_fill_mobile {
        padding-top: 41px;
}

    .causes__caption_fill br{
        display: none;
    }

.causes__item_photo_mobile {
    order: 1;
}
    .causes__item_icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        height: 138px;
        position: relative;
        padding: 0 40px 0 70px;
    }

    .causes__caption_icon{
        width: 210px;
        text-align: left;
        margin: 0 0 15px 0;
}

    .causes__explanation_icon br {
        display: none;
    }

    .causes__item_icon_mobile {
        order: 1;
    }

    .causes__explanation_icon {
        text-align: left;
    }
    .causes__item_icon img {
        height: 40px;
        width: 40px;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .causes__item_grayish {
        height: 167px;
    }

    .causes__caption_grayish br{
        display: none;
    }

    .causes__item_grayish_mobile{
position: relative;
    }

    .causes__item_grayish_mobile:before{
        position: absolute;
        top: 0;
        left: 20px;
        content:"";
        height: 1px;
        width: 280px;
        background-color: #d6d6d6;
    }

    .causes__item_grayish_mobile:after{
        position: absolute;
        bottom: 0;
        left: 20px;
        content:"";
        height: 1px;
        width: 280px;
        background-color: #d6d6d6;
    }
    .hotels__toggle {
        width: 280px;
    }

    .page-footer__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 220px;
        padding-top: 20px;
    }

    }