html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, font, img, q, ol, ul, li, form {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'PTSans';
    src:url('fonts/web/ptsans.woff') format('woff'),
    url('fonts/web/ptsans.woff2') format('woff2');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'PTSans-Bold';
    src:url('fonts/web/ptsansbold.woff') format('woff'),
    url('fonts/web/ptsansbold.woff2') format('woff2');
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px 5px #ccc;
    background-color: white;
    transition: max-width .3s ease;
}

body {
    background-color: #f2f2f2;
}

.main-menu__toggle {
    display: none;
}

#main-menu_check {
    display: none;
}

.main-menu__items {
    display: flex;
    justify-content: space-around;
}

.main-menu__item {
    display: flex;
    justify-content: center;
    min-height: 56px;
    min-width: 150px;
}

.main-menu__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PTSans-Bold';
    color: black;
    font-size: 14px;
}

.main-menu__item_logo {
    position: relative;
    text-align: center;
}

.main-menu__item_logo picture {
    position: absolute;
    top: 0;
    width: 188px;
    height: 96px;
}

.causes__bg {
    display: flex;
    justify-content: center;
    padding-top: 78px;
    height: 440px;
    background-image: url("images/intro-photo_desktop.jpg");
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

h1 {
    margin-top: 40px;
    text-align: center;
    font-family: 'PTSans-Bold';
    color: black;
    font-size: 21px;
}

.causes__intro {
    margin-top: 40px;
    margin-bottom: 58px;
    text-align: center;
    font-family: 'PTSans';
    color: black;
    font-size: 16px;
}

.causes__items {
    display: flex;

}

.causes__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.causes__item_photo {
    height: 256px;
    width: 800px;
 }

.causes__item_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.causes__item_fill {
    height: 256px;
    width: 400px;
    background-color: #81b3d2;
    text-align: center;
    color: white;
}

.causes__caption {
    font-family: 'PTSans-Bold';
    font-size: 19px;
}

.causes__number {
    margin: 10px 0 20px 0;
    font-family: 'PTSans';
    font-size: 16px;
}

.causes__explanation {
    font-family: 'PTSans';
    font-size: 14px;
}

.causes__item_icon {
    height: 330px;
    width: 400px;
    text-align: center;
    color: black;
}

.causes__item_grayish {
    height: 256px;
    width: 400px;
    background-color: #eeeeee;
    text-align: center;
    color: black;
}

.causes__caption_icon {
    margin: 30px 0;
}

.hotels {
    text-align: center;
}
.hotels__caption {
    margin-top: 54px;
    font-family: 'PTSans-Bold';
    font-size: 21px;
}

.hotels__explanation {
    margin-top: 40px;
    font-family: 'PTSans';
    font-size: 16px;
}

.hotels__toggle {
    margin-top: 54px;
    height: 58px;
    width: 458px;
    background-color: #81b3d2;
    font-family: 'PTSans-Bold';
    font-size: 21px;
    color: white;
    border: none;
}

.hotels__map {
    margin-top: 54px;
    height: 350px;
    background-image: url("images/map.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.page-footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 120px;
}

.page-footer__contacts {
    font-family: 'PTSans-Bold';
    font-size: 21px;
    color: black;
}

.page-footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PTSans';
    font-size: 14px;
    color: black;
}

.page-footer__copyright-link {
    margin: 9px 0 0 13px;
}
