html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, font, img, q, ol, ul, li, form {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'PTSans';
    src:url('fonts/web/ptsans.woff') format('woff'),
    url('fonts/web/ptsans.woff2') format('woff2');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'PTSans-Bold';
    src:url('fonts/web/ptsansbold.woff') format('woff'),
    url('fonts/web/ptsansbold.woff2') format('woff2');
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 10px 5px #ccc;
    background-color: white;
}

body {
    background-color: #f2f2f2;
}

.main-menu__toggle {
    display: none;
}

.main-menu__items {
    display: flex;
    justify-content: space-around;
    min-height: 56px;
}

.main-menu__item {
    display: flex;
    justify-content: center;
    min-width: 150px;
}

.main-menu__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PTSans-Bold';
    color: black;
    font-size: 14px;
}

.main-menu__item_logo {
    position: relative;
}

.main-menu__item_logo img {
    position: absolute;
    top: 0;
}

.main-menu__item_logo-tablet {
    display: none;
}

.main-menu__item_logo-mobile {
    display: none;
}
.causes__bg {
    min-height: 568px;
    background-image: url("img/intro.jpg");
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-family: 'PTSans-Bold';
    color: black;
    font-size: 21px;
}

.causes__intro{
    margin-top: 38px;
    text-align: center;
    font-family: 'PTSans';
    color: black;
    font-size: 16px;
}

.causes__items {
    display: flex;
    flex-flow: row wrap;
    align-content:stretch;
    margin-top: 58px;
}
.causes__item_foto {
    height: 256px;
}
.causes__item_fill {
    height: 256px;
    width: 400px;
    background-color: #81b3d2;
    text-align: center;
    color: white;
}

.causes__caption{
    margin-top: 50px;
    font-family: 'PTSans-Bold';
    font-size: 21px;
}

.causes__number{
    margin-top: 18px;
    font-family: 'PTSans';
    font-size: 16px;
}

.causes__explanation {
    margin-top: 28px;
    font-family: 'PTSans';
    font-size: 14px;
}
.causes__item_foto {
    width: 800px;
}

.causes__item_icon {
    height: 330px;
    width: 400px;
    text-align: center;
    color: black;
}

.causes__item_grayish {
    height: 256px;
    width: 400px;
    background-color: #eeeeee;
    text-align: center;
    color: black;
}
.causes__item_icon img {
    margin-top: 60px;
}

.causes__caption_icon,
.causes__explanation_icon {
    margin-top: 30px;
}

.hotels {
    text-align: center;
}
.hotels__caption {
    margin-top: 54px;
    font-family: 'PTSans-Bold';
    font-size: 21px;
}

.hotels__explanation {
    margin-top: 40px;
    font-family: 'PTSans';
    font-size: 16px;
}

.hotels__toggle {
    margin-top: 54px;
    height: 58px;
    width: 458px;
    background-color: #81b3d2;
    font-family: 'PTSans-Bold';
    font-size: 21px;
    color: white;
    border: none;
}

.hotels__map {
    margin-top: 54px;
    height: 350px;
    max-width: 1200px;
    background-image: url("img/map.jpg");

}
.page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    min-height: 120px;
    max-width: 1020px;
}

.page-footer__contacts {
    font-family: 'PTSans-Bold';
    font-size: 21px;
    color: black;
}
.page-footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PTSans';
    font-size: 18px;
    color: black;
}
.page-footer__copyright-link {
    margin: 9px 0 0 13px;
}

@media (min-width: 750px) and (max-width: 1100px){
    .main-menu__item_logo {display: none;}
    .main-menu__item_logo-tablet {
        display: flex;
        position: relative;
    }

    .main-menu__item_logo-tablet img {
        position: absolute;
        top: 0;
    }
}